<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".help_tut" %>
  <a href="http://www.railstutorial.org/help"><%= t ".help_page" %></a>.
  <%= t ".help_app" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".tutorial" %></em>
  <%= t ".book" %></a>.
</p>
